* {
    box-sizing: border-box;
}

#food-form {
    float: right;
    margin: 40px 140px 0 0;
}

#button-farm {
    margin: 40px 0 0 100px;
}
#button-farm button {
    background-color: #4aaaa5;
    color: #fff;
    margin: 0 5px 0 5px;
    border-radius: 5px;
}

#image-farm {
    margin-left: 40px;
}

.foods {
    margin: 10px 10px;
    
    display: inline-block;
}
