* {
    box-sizing: border-box;
}

body {
   background-image: url("../images/white-waves.png");
}

#food-form {
    float: right;
    margin: 40px 140px 0 0;
}

#food-add-label {
    margin: 20px;
    font-size: 24px;
}

#food-input {
    margin: 20px;
}

#add-food {
    margin: 0 20px;
}

#button-farm {
    margin: 40px 0 0 100px;
}
#button-farm button {
    background-color: #4aaaa5;
    color: #fff;
    margin: 0 5px 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

#image-farm {
    margin-left: 40px;
}

.foods {
    margin: 10px 10px;
    
    display: inline-block;
}
